* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-marrom: #deb887;
    --cor-branco: #835737;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap
}

.linha {
    display: flex;
    flex-direction: row;
}

.coluna {
    background-color: #deb887;
    margin: 3px;
}

.peca-branca {
    background-image: url('../images/dbranca.png');
    height: 100%;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.peca-preta {
    background-image: url('../images/dpreta.png');
    height: 100%;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}